@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');	


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.handWave {
    width: 8vh;
    height: 8vh;
    margin-left: 15vw;
    margin-top: 10vh;
}

.headerTitle {
    font-weight: 600;
    font-size: 4vh;
    margin-left: 15vw;
}

.headerTitle span {
    color: #E73636;
}

.headerSubTitle {
    font-size: 2vh;
    margin-left: 15vw;
}

.me {
    height: 25vh;
    float: right;
    margin-top: -20vh;
    margin-right: 10vw;
    display: none;
}

.titles {
    float: left;
}

.aboutMe {
    background-color: #E73636;
    height: 10vh;
    margin-top: 15vh;
    height: 30vh;
}

.aboutTitle {
    color: #fff;
    position: absolute;
    font-weight: 600;
    font-size: 2vh;
    margin-top: 3vh;
    margin-left: 15vw;
}

.aboutMe p {
    color: #fff;
    position: absolute;
    font-weight: 300;
    font-size: 1.5vh;
    max-width: 70vw;
    margin-top: 8vh;
    margin-left: 17vw;
    text-align: ce;
}

.aboutBottom {
    transform: rotate(180deg);
    display: block;
    margin-top: -25px;
}

.skillsTitle {
    color: #E73636;
    position: absolute;
    font-weight: 600;
    font-size: 2vh;
    margin-left: 15vw;
}

.skillContainer {
    display: grid;
    justify-content: center;
    padding-top: 5vh;
    grid-gap: 3em;
    grid-template-columns: repeat(3, 5vh);
    grid-template-rows: repeat(2, 5vh);
}

.skillContainer img {
    width: 5vh;
}

.acomplishments {
    height:fit-content
}

.acomplishmentTitle {
    color: #E73636;
    position: absolute;
    font-weight: 600;
    font-size: 2vh;
    margin-left: 15vw;
    margin-top: 4vh;
}

.list {
    max-width: 70vw;
    position: absolute;
    margin-top: 8vh;
    margin-left: 20vw;
    font-size: 1.5vh;
}

.skillsBottom {
    margin-top: 20vh;
}

.work {
    background-color: #E73636;
    margin-top: -7px;
}

.workTitle {
    color: #fff;
    position: absolute;
    font-weight: 600;
    font-size: 2vh;
    margin-left: 15vw;
}

.workContainer {
    display: grid;
    padding: 5vh 0;
    gap: 4em;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(40vw, 40vw));
    grid-template-rows: repeat(2, 40vw);
}

.workCard {
    width: 40vw;
    height:40vw;
    background-color: gray;
    border-radius: 25px;
}

.workCard h3 {
    margin-top: 14vh;
    margin-left: 2vw;
    font-size: 1.5vh;
}

.workBottom {
    transform: rotate(180deg);
    margin-top: -5px;
}

.contactTitle {
    color: #E73636;
    position: absolute;
    font-weight: 600;
    font-size: 2vh;
    margin-left: 15vw;
}

.contact {
    height: 20vh;
    display: "inline-block";
}

.icon {
    height: 8vh;
    padding: 10px;
    margin-left: 8vw;
}

.contact h2 {
    margin-left: 20vh;
    font-size: 2vh;
    margin-top: -6vh;
    color: #E73636;
}

.platform {
    padding: 3vh;
}
@media screen and (min-width: 600px) {
    .aboutMe p {
        font-size: 2vh;
    }
}

@media screen and (min-width: 600px) {
    .aboutMe p {
        font-size: 2vh;
    }
    .platform{
        margin-left: 30vw;
    }
    .contact h2 {
        margin-left: 20vh;
    }
}

@media screen and (min-width: 800px) {
    .aboutMe {
        height: 25vh;
    }
    .aboutMe p {
        font-size: 2vh;
    }
    .skillContainer img {
        width: 8vh;
    }
    .skillContainer {
        grid-template-columns: repeat(3, 8vh);
        grid-template-rows: repeat(2, 8vh);
    }
    .list {
        font-size: 2vh;
    }
    .workContainer {
        grid-template-columns: repeat(2, minmax(30vw, 30vw));
        grid-template-rows: repeat(2, 30vw);
    }
    .workCard {
        width: 30vh;
        height: 30vh;   
    }

    .platform{
        margin-left: 30vw;
    }
    .contact h2 {
        margin-left: 20vh;
    }

    .me {
        display: block;
        width: 40vh;
        height: 40vh;
        margin-top: -30vh;
    }

    .handWave {
        height: 15vh;
        width: 15vh;
    }

    .headerTitle {
        font-size: 7vh;;
    }
    .headerSubTitle {
        font-size: 3vh;;
    }
    .aboutTitle {
        font-size: 3vh;
    }
    .skillsTitle {
        font-size: 3vh;;
    }
    .acomplishmentTitle {
        font-size: 3vh;
    }
    .workTitle {
        font-size: 3vh;
    }
    .contactTitle {
        font-size: 3vh;
    }

    .aboutMe p {
        font-size: 2.5vh;
    }
    .contact h2 {
        font-size:3vh;
    }

}
@media screen and (min-width: 900px) {
    .workContainer {
        grid-template-columns: repeat(2, minmax(40vw, 40vw));
        grid-template-rows: repeat(2, 40vw);
    }
    .workCard {
        width: 40vh;
        height: 40vh;   
    }
}

@media screen and (min-width: 1000px) {
    .workContainer { 
        margin-left: 10vw;
        grid-template-columns: repeat(2, minmax(30vw, 30vw));
        grid-template-rows: repeat(1, 30vw);
    }
    .workCard {
        width: 40vh;
        height: 40vh;   
    }
    .contact h2 {
        margin-left: 25vh;
    }
}